* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* ===============================task-1=============================== */
#categories {
  padding: 24px;
}
.item {
  background-color: rgba(246, 246, 254, 1);
  max-width: 392px;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 16px;
}
.item h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.item ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 315px 8px 16px;
}
.item ul li:not(:last-child) {
  margin-bottom: 8px;
}

/* ===============================task-2=================================== */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.img-item {
  width: 360px;
  height: 300px;
}

/* ===============================task-3=================================== */

#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* ===============================task-4======================================== */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}
.login-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.login-form button {
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
.login-form button:hover {
  background-color: #6c8cff;
}
.login-form input:hover {
  border: 1px solid #000;
}
.login-form input:focus {
  border: 1px solid #808080;
  outline: none;
}

/* ===============================task-5======================================== */
.widget {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 345px;
  height: 280px;
  align-items: center;
  justify-content: center;
}
.widget p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.widget button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.widget button:hover {
  background-color: #6c8cff;
}
