*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.gallery-item {
  width: calc((100vh - 48) / 3);
}
.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.5s ease;
}
.gallery-image:hover {
  transform: scale(1.05);
}
